.logo-desktop {
  height: 44px;
}

.logo-mobile {
  height: 44px;
}
.logo-mobile-container {
    flex-grow: 1.4;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .logo-desktop {
    display: none;
  }
  .logo-mobile-container {
    display: block;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .logo-desktop {
    display: none;
  }
  .logo-mobile-container {
    display: block;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .logo-desktop {
    display: none;
  }
  .logo-mobile-container {
    display: block;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .logo-mobile-container {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .logo-mobile-container {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .logo-mobile-container {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
}
